<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Quotes</title>
</head>
<body>
    <h1>All Quotes</h1>
    <ul>
        {% for quote in quotes %}
            <li>{{ quote.text }} - {{ quote.author }}</li>
        {% endfor %}
    </ul>
    
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'author_list' %}">Authors List</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'add_author' %}">Add Author</a></li>
        <li><a href="{% url 'add_quote' %}">Add Quote</a></li>
        <li><a href="{% url 'author_detail' %}">Author Detail</a></li>
        
    </ul>
</body>
</html>
