<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ author.name }}</title>
</head>
<body>
    <h1>{{ author.name }}</h1>
    <p>Other details about the author can be displayed here.</p>
    <a href="{% url 'author_list' %}">Back to Authors List</a>
    
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'all_quotes' %}">All Quotes</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'add_author' %}">Add Author</a></li>
        <li><a href="{% url 'add_quote' %}">Add Quote</a></li>
        
    </ul>
</body>
</html>
