<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    
    <ul>
        <li><a href="{% url 'author_list' %}">Authors List</a></li>
        <li><a href="{% url 'all_quotes' %}">All Quotes</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'add_author' %}">Add Author</a></li>
        <li><a href="{% url 'add_quote' %}">Add Quote</a></li>
        <li><a href="{% url 'author_detail' %}">Author Detail</a></li>
        
    </ul>
</body>
</html>
